__pycache__/
*.pth
Voxceleb/
Model/output/
Model/noise/
.idea/

**/_pycache_/

*.pth
*.patch

noise/
noise_csv/
output/
Sonic-data/
voxceleb/
runs/
*.log
*.txt
# Except in the allowed-folder/
!Fusion/
!Fusion/output/
!Fusion/output/*.txt


